<h1>New Question</h1>

<%= form_with model: @question, local: true do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <p>Body: <%= f.text_area :body %></p>
  <%= f.submit "Post Question" %>
<% end %>
